.container {
    margin-top: .5em;
    width: 282px;
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.capa {
    width: 100%;
}

.container h2,
.favoritar {
    margin: .25em .5em;
}

.favoritar {
    width: 25px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
    text-align: left;
}